<br>
<form action="/">
  <input class="btn btn-dark" type="submit" value="Back">
</form>
<br>
<div class="sign-in my-2">
  <form action="/listing/create" method="post" enctype="multipart/form-data">
    <input type="text" name="name" id="name" placeholder="Title" required>
    <br>
    <input type="text" name="description" id="description" placeholder="Property Description" required>
    <br>
    <input type="text" name="price" id="price" placeholder="Price Per Night" required>
    <br>
    <input type="text" name="location" id="location" placeholder="Property Location" required>
    <br>

    <input type="file" name="image" class="form-control" required>
    <br>
    AVAILABLE DAYS:
    <br>
    <% @days.each do |day| %>
      <input type="checkbox" name="date[<%= day.id %>]" value=<%=day.days%>> <%= day.days.strftime("%a %e %b %Y") %>
      <br>
    <% end %>

    <br>
    <input class="btn btn-dark" type="submit" name="submit" id='submit' value="Submit Listing">
  </form>

</div>
