<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.min.js"></script>
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/style.css">
  <title>MakersBnB</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3">
        <h1>MakersBnB</h1>
        <h3> A product of TTT </h3>
        <h4><i> "We won't give you the shaft"</i></h4>
      </div>
    </div>
    <%= @page %>
  </div>
</body>
</html>
