body {
  background-color: #121212;
  color: #FFF;
}

h1 {
  font-family: 'Righteous', sans-serif;
}

h2 {
  color: #BB86FC;
}

h4 {
  color: #9B9B9B;
}

form {
  display: inline;
}

#fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.listing-feed-item {
  background-color: #1F1B24;
  border-radius: 10px;
  box-shadow: 2px 2px #000;
  height: 400px;
}

.listing-feed-item-content {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.listing-name {
  font-size: 3rem;
  margin-top: 40px;
  color: #FFFFFF;
  text-shadow: 2px 2px #333333;
}

.listing-location {
  font-size: 2rem;
  margin-top: 40px;
}

.listing-name a:link,
.listing-name a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.listing-price {
  font-size: 1.4rem;
}

.listing-empty {
  font-size: 1.4rem;
  color: #9B9B9B;
}

.listing-timestamp {
  font-size: 0.8rem;
  font-weight: bold;
  color: #9B9B9B;
}

.add-listing textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  background-color: #292929;
  color: #FFF;
}

.listing-image {
  width: 700px;
}

.listing-thumb {
  max-width: 100px;
}

.flash-notice {
  background-color: #F31431;
  border: solid 1px #ffe7e7;
  color: #FFE7E7;
  padding: 10px;
  border-radius: 5px;
}

.sign-up input[type="text"],
.sign-up input[type="password"],
.sign-in input[type="text"],
.sign-in input[type="password"]
 {
   width: 100%;
   font-size: 1rem;
   padding: 10px;
   margin: 0 0 10px 0;
   border: solid 1px #121212;
   border-radius: 5px;
   background-color: #292929;
   color: #FFF;
}
